@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

html.dark body {
  background-color: #171819;
}

html.light body {
  background-color: #ffffff;
}

.sq-card-message.sq-card-message-no-error.sq-visible{
  color: white;
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
}

