
:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
  
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
font-family: sans-serif;
}

.menu {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
 position: fixed;
  align-items: center;
 justify-content: space-between;
  padding: 0.5%;
  
}

.logo a{
  position: relative;
  width: 200px;
  height: 60px;
  display: inline-block;
  background: #fff;
  color: #00FFFF;
  margin: 20px;

}
.logo a:before,
.logo a::after
{
  content: '';
  position: absolute;
  inset: 0;
  background:  #f00;
  transition: 0.5s;
}
.logo a:nth-child(1):before,
.logo a:nth-child(1):after
{
  background: linear-gradient(45deg, #00ccff, #d400d4);
}




.logo a:hover:before{
  inset: -3px;

}
.logo a:hover:after{
  inset: -3px;
  filter: blur(10px);

}
.logo a span{
  position: absolute;
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: black;
  z-index: 15;
  display: flex;
  font-size: 2.4em;
  font-weight: 800;
  letter-spacing: 0;
  color:#fff
  text-decoration: none;
}
.menu ul {
list-style: none;
display: flex;
}
.menu ul li{
  padding: 10px 30px;
  position: relative;
}
.menu ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: bold;
  transition: all 0.3s;

}

.menu ul li a:hover{
  color: var(--clr-neon);
}
.submenu{
  display: none;
}

.menu ul li:hover .submenu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:black;
}
.submenu ul{
  display: block;
  margin: 9px;
}
.submenu ul li{
  width: 150px;
  padding: 10px;
}
.submenu2{
  display: none;
}
.menu ul li:hover .submenu2{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: black;
}
.submenu2 ul{
 display: block;
  margin: 9px;
}
.submenu2 ul li{
  width: 150px;
  padding: 10px;
}

.Search-box{
  background-image: url(1p.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
form{
  background: #fff;
  width: 900px;
  height: 55px;
  display: flex;
  border: var(--clr-neon) 0.100em solid;
  border-radius: 0.25em;
  
}
form input{
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 5px 15px;

}
form button{
  background: var(--clr-neon);
  padding: 10px 50px;
  border: none;
  outline: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.Box{
  background: white;
  color:white;
  width: 390px;
  height: 800px;
  margin: 10px;
  padding: 20px;
  float: left;
  text-align: center;
  
}
.Box h1{
  background-color: var(--clr-neon);
 margin: 10px;
  padding: 10px;
  height: 40px;
  font-size: 16px;
}

.footer-nev{
  background-color: rgb(27, 26, 26);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
 justify-content: center;
 padding: 0.5%;
}
.footer-nev ul {
list-style: none;
display: flex;

}
.footer-nev ul li{
  padding: 10px 30px;
  position: relative;
  
}
.footer-nev ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 15px;
  align-items: center;
  letter-spacing: 0.5px;
  font-weight: bold;
  transition: all 0.3s;

}

.footer-nev ul li a:hover{
  color: var(--clr-neon);
}